body{
    background-image: url(images/qbkls.png);
}
.navbar{
    padding:0rem 1rem;
    border-bottom: #dee2e6 solid 3px;
    background-color: #ffffff;
}
.far{
    color:#ffffff;
}

.navbar-light .navbar-brand {
    color:#ffffff;
    background-color: #20b2aa;
    padding:.5rem 2rem;
    margin:0px 20px;
    font-size: 1.5rem;
    font-family: serif;
    font-weight: bold;
}
.navbar-nav{
    margin: 0px 20px;
}
#Tagline{
    font-weight: bold;
    margin: .5rem 0rem;
}
.container{
    margin: 3rem;
    background-color: #ffffff;
    padding: 2rem;
}
.btn, .btn-primary {
    background-color: #20b2aa;
    border-color: #20b2aa;
    font-size: 1.5rem;
}

.btn:hover, .btn-primary:hover{
    color: black;
    background-color: #20b2aa;
    border-color: #20b2aa;
}

.btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #20b2aa;
    border-color: #20b2aa;
}
h1{
    
   margin: 0rem,1rem;
    color: #20b2aa;
}

.card{
    margin: 1rem;
}

.border-bottom {
    border-bottom: 3px solid #dee2e6!important;
    border-bottom-width: 3px !important;
    border-bottom-style: solid !important;
    border-bottom-color: rgb(222, 226, 230) !important;
}
.fixed-bottom{
    background-color: #ffffff;
    padding: 1px;
}